header {
    height: 100vh;
    position: relative;
    min-height: 60rem;
    /* border: 1px solid firebrick; */
}

.header-container {
    max-width: 1006px;
    margin: 0 auto;
    /* border: 1px solid blue; */
}

.banner {
    /* border: 1px solid green; */
    margin-top: 160px;
}

.banner-title h1 {
    font-size:3rem;
    font-size:9vw;
    font-weight:100;
    line-height:1;
    margin:0
}
.sub-banner-title h2 {
    margin: 1em 0 0;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
  
}

@media only screen and (max-width: 30rem){
    .banner-title h1{
        font-size:2rem;
        font-size:9vw
    }
}
@media only screen and (min-width: 45rem){
    .banner-title h1{
        font-size:4.5rem;
        font-size:9vw
    }
}
@media only screen and (min-width: 75rem){
    .banner-title h1{
        font-size:6.75rem
    }
}

.profile-pic {
    margin: 2rem 0rem 2rem 0rem;
    /* border: 1px solid pink; */
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-pic img {
    width: 9em;
    height: 9em;
}
.bio {
    width: 28rem;
    /* border: 1px solid brown; */
    margin: 2rem auto 2rem auto;
    text-align: justify;
    font-size: 1.2rem;
    color: #cbd6e6;
    /* margin: auto; */
}

@media only screen and (max-width: 30rem){
    .bio {
        padding-left: 7px;
        padding-right: 7px;
        width: 100%;
    }
}